<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - CheckFold</title>
    {% else %}
    <title>Welcome to CheckFold!</title>
    {% endif %}
</head>
<body>
  <div>
      CheckFold:
      <a href="/index">Home</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>